body {
  font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
  color: red;
/*  padding-bottom: 50px;*/
  padding: 0; /* Remove all padding */
  margin: 0;  /* Remove any default margin */
  overflow: hidden;
}
h3 {
/*  margin-top: 50px;*/
  margin-top: 0px;
}
li {
/*  margin: 25px 50px 0 0;*/
  margin: 0px 0px 0 0;
}
table {
  width: 1400px;
/*  margin: 0 50px 0 50px;*/
  margin: 0 0px 0 0px;*/
}
td {
  width: 50%;
  vertical-align: top;
/*  padding-right: 60px;*/
  padding-right: 0px;
}
.hover-underline {
  text-decoration: none;
}
.hover-underline:hover {
  text-decoration: underline;
}