# Hugo default output directory
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

# Local development files
.hugo_build.lock
.DS_Store

# Temporary files
*.log
.cache/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo