{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}

<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "6451fcf2cc744026b778c3be898c4b92"}'></script>
<!-- End Cloudflare Web Analytics -->

<!-- Plausible Analytics -->
<script defer data-domain="emiliosao.me" src="https://plausible.io/js/script.file-downloads.outbound-links.js"></script>
<!-- End Plausible Analytics -->

<!-- Umami Analytics -->
<script defer src="https://cloud.umami.is/script.js" data-website-id="6f62760a-8d10-4cdb-9358-8fa91d95ae66"></script>
<!-- End Umami Analytics -->
